*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

@font-face {
    font-family: "Karla";
    src: url(../fonts/Karla-VariableFont_wght.ttf);
}

body{
    font-family: "Karla";
    font-weight: 400;
}

header, main, footer{
    max-width: 1440px;
    margin: 0 auto;
}

main{
    margin-bottom: 5em;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
    text-transform: uppercase;
}

.logo{
    font-size: 1.2rem;
    font-weight: 700;
}

nav ul{
    display: flex;
    gap: 2em;
    list-style: none;
}

.shop-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}

.product-full-width{
    grid-column: 1 / -1;
}

.product{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.product-image, .product-brand{
    grid-column: 1 / -1;
    padding: 1em 0 1em 0;
}

.product-price{
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    text-align: right;
}

.product-brand{
    color: rgb(152, 152, 152);
    font-weight: 100;
}

.product img:hover{
    cursor: pointer;
    opacity: 0.5;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5em;
    margin-bottom: 3em;
}

.footer-col{
    display: flex;
    flex-direction: column;
}

.footer-col h4{
    margin-bottom: 3em;
}

.footer-col a{
    text-decoration: none;
    color: #000;
}

.col-5{
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 3em;
    color: rgb(152, 152, 152);
}

.footer-inline-link{
    font-weight: bold;
}